<div class="model-content">
    <div class="model-header">
        <div class="modal-window-header">
            <div class="popup-title-container">
                <h1 class="t1-pop-up-heading"><strong class="bold-text">Create a Template<br></strong></h1>
            </div>
            <div class="cross-button">
                <div class="cross-button-svg w-embed">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor">
                        <path d="M11.97 13.03a.749.749 0 1 0 1.06-1.06l-3.97-3.97 3.97-3.97a.749.749 0 1 0-1.06-1.06l-3.97 3.97-3.97-3.97a.749.749 0 1 0-1.06 1.06l3.97 3.97-3.97 3.97a.749.749 0 1 0 1.06 1.06l3.97-3.97z"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="model-body pb-15">
        <div class="polaris-container-with-ouline">
            <div class="polaris-box-list-item-inner-wrapper form-flex-col">
                <div class="polaris-form-layout">
                    <div class="polaris-form-label-wrapper">
                        <div class="polaris-form-label">Template Name*<span id="templateTextError" class="text-danger"></span></div>
                    </div>
                    <div class="polaris-form-field-wrapper">
                        <input id="templateName" type="text" class="polaris-form-field" autocomplete="none" data-type="text" data-templateName="" data-required="">
                    </div>
                </div>
                <div class="polaris-form-layout">
                    <div class="polaris-form-label-wrapper">
                        <div class="polaris-form-label">Description<span id="noteTextError" class="text-danger"></span></div>
                    </div>
                    <div class="polaris-form-field-wrapper">
                        <textarea id="templateDes" class="polaris-form-field-textarea" autocomplete="none" maxlength="300" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="polaris-footer-line"></div>
        <div class="buttons-row-container mt-40">
            <button type="button" class="standard-button mr-10 cancel-btn-model w-button">Cancel</button>
            <button type="button" id="createTemplate" class="standard-button model-save-btn w-button btn-disable">Create</button>
        </div>
    </div>
</div>
