<div class="model-content overflow-show">
    <div class="model-header">
        <div class="modal-window-header">
            <div class="popup-title-container">
                <h1 class="t1-pop-up-heading">Create a Quote</h1>
            </div>
            <div class="cross-button">
                <div class="cross-button-svg w-embed">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 16 16">
                        <path d="M11.97 13.03a.749.749 0 1 0 1.06-1.06l-3.97-3.97 3.97-3.97a.749.749 0 1 0-1.06-1.06l-3.97 3.97-3.97-3.97a.749.749 0 1 0-1.06 1.06l3.97 3.97-3.97 3.97a.749.749 0 1 0 1.06 1.06l3.97-3.97z"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="model-body" style="padding-bottom:15px;">
        <div class="polaris-form-cols">
            <div class="polaris-form-layout">
                <div class="polaris-form-label-wrapper">
                    <div class="polaris-form-label">Choose a Template*</div>
                </div>
                <div class="polaris-form-field-dropdown-wrapper mt-10 max-250">
                    <select id="template" name="" class="polaris-form-field-dropdown" style="outline:none; padding-left:5px;">
                        <option value="0">Select</option>
                    </select>
                </div>
            </div>
            <div class="polaris-form-layout">
                <div class="polaris-form-label-wrapper">
                    <div class="polaris-form-label">Choose a Customer*</div>
                </div>
                <div class="polaris-form-field-dropdown-wrapper mt-10 max-250">
                    <select id="customer" name="" class="polaris-form-field-dropdown" style="outline:none; padding-left:5px;">
                        <option value="0">Select</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="polaris-footer-line"></div>
        <div class="buttons-row-container mt-40">
            <button class="standard-button mr-10 cancel-btn-model w-button">Cancel</button>
            <button id="createQuote" class="standard-button model-save-btn w-button btn-disable">Create</button>
        </div>
    </div>
</div>
